body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    margin: 30px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 30px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
}

input {
    padding: 8px;
    margin-top: 5px;
    width: 90%;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0080FF;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0080FF;
    color: white;
}

#total-estoque {
    margin-top: 20px;
}

#limpar-tabela {
    background-color: #dc3545;
}

#limpar-tabela:hover {
    background-color: #bd2130;
}